@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest", sans-serif;
}

main{
    width: 100%;
    background: #FDF6EA;
}


 